.best {
	background: url("../img/decor/bg-best.jpg") center center no-repeat;
	background-size: cover;
	text-align: center;

	&__list{
		display: flex;
		flex-direction: row;

		@include phones{
			display: flex;
			flex-direction: column;
		}
	}

	@include phones{
		// display: flex;
		// flex-direction: column;
	}

	&__item{
		width: 33%;
		margin-top: rem(180px);
		position: relative;

		&--meat:before{
			content: "";
			background-image: url("../img/icons/meat.svg");
			width: 97px;
			height: 90px;
			display: inline-block;
			position: absolute;
			top: -135px;
			right: 33%;

				@include phones{
					top: 0;
					right: 100%;
				}
		}

		&--natural:before{
			content: "";
			background-image: url("../img/icons/natural.svg");
			width: 88px;
			height: 76px;
			display: inline-block;
			position: absolute;
			top: -135px;
			right: 33%;

				@include phones{
					top: 0;
					right: 100%;
				}
		}

		&--hand:before{
			content: "";
			background-image: url("../img/icons/hand.svg");
			width: 73px;
			height: 86px;
			display: inline-block;
			position: absolute;
			top: -135px;
			right: 33%;

				@include phones{
					top: 0;
					right: 100%;
				}
		}

		@include phones{
			width: 70%;
			margin-left: 100px;
			margin-top: 90px;
		}
	}

	&__title{
		font-size: rem(24px);
		font-family: 'lifehack';
		color: #2f3234;
	}

	&__descr{
		font-size: rem(14px);
		font-family: 'ub-light';
		color: #2f3234;
		line-height: rem(28px);
	}
}