.footer {
	background: url("../img/decor/bg-footer.jpg") 100% no-repeat;
	background-size: cover;
	width: 100%;
	position: absolute;
	bottom: 0;
	z-index: 1;
	padding: rem(20px) 0;
}

.container--footer{
	display: flex;
	min-height: 0;

	@include phones{
		flex-direction: column;
	}
}

.contacts, .social{
	width: 50%;

	@include phones{
		width: 65%;
		margin: 0 auto;
		text-align: center;
	}
}

.adress{
	color: #fff;
	padding-bottom: rem(10px);
}

.phone{
	text-decoration: none;
	color: #e45028;
	font-family: 'ub-bold';
}

.social{
	display: flex;
	justify-content: flex-end;
	text-align: right;
	margin-top: rem(10px);

	@include phones{
		justify-content: space-around;
	}

	&__item{
		display: inline-block;
		margin-left: rem(10px);
	}

	&__link{
		width: rem(20px);
		height: rem(20px);
		opacity: .3;

		&:hover{
			opacity: 1;
		}
	}
}