.header {
	padding-top: 10px;
	width: 100%;
	position: absolute;
	z-index: 1;
	display: flex;
	justify-content: space-between;

	&__logo{
		width: 30%;
	}

	&__menu{
		width: 70%;
		padding-top: rem(10px);
		display: flex;
	}
}

.container--header{
	display: flex;
	min-height: 0;
}