.header {
	padding-top: 10px;
	width: 100%;
	position: absolute;
	z-index: 1;

	&__logo{
		width: 30%;
		float: left;
	}

	&__menu{
		float: right;
		width: 70%;
		padding-top: 10px;
	}

	&__btn{
		padding-top: 10px;
		display: inline-block;
		margin-left: 15px;
		float: right;
	}
}