.hero {
	background: url("../img/decor/bg-main.jpg") center center no-repeat;
	background-size: cover;

	&__img-wrap, &__text-wrap{
		float: left;
		width: 50%;
	}

	&__text-wrap{
		padding-top: 150px;
	}
}


