.hero {
	background: url("../img/decor/bg-main.jpg") center center no-repeat;
	background-size: cover;

	&__container{
		display: flex;
		align-items: center;
	}

	&__content{
		display: flex;

		@include tablets{
			flex-direction: column;
			align-items: center;
			text-align: center;
		}
	}

	&__img-wrap{
		width: 50%;

		@include tablets{
			width: auto;
		}
	}

	&__text-wrap{
		width: 50%;
		padding-top: rem(150px);

		@include tablets{
			width: auto;
			padding-top: rem(20px);
		}
	}
}


