.map{

	&__balloon{
		background-color: #e35028;
		text-align: center;

		p{
			font-size: 14px;
			font-family: 'ub-light';
		}
	}

	&__burger-img{
		width: 50px;
		display: block;
		margin: 0 auto;
	}
}

.container--map{
	height: 100vh;
	width: 100%;
}

