.menu{
	background: url("../img/decor/bg-menu.jpg")no-repeat;
	background-size: cover;
	position: relative;

	@include tablets{
		background: url("../img/decor/bg-menu.jpg") 50% no-repeat;
		background-size: cover;
	}

	&__title{
		position: absolute;
		top: 10%;
		left: 10%;
	}
}

.menu-acco__list {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
}

.menu-acco__item {
	float: left;
	height: 100%;
}

.menu-acco__item.active .menu-acco__content{
	width: 550px;
}

.menu-acco__item.active .menu-acco__trigger-text {
	color: #f9b43b;
}

.menu-acco__trigger {
	width: 80px;
	display: block;
	height: 100%;
	float: left;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	text-decoration: none;
	position: relative;
	background: rgba(47, 50, 52, 0.6);

	&--meat{
		background: url("../img/decor/bg-meat.jpg")no-repeat;
		background-size: cover;
	}

	&--veg{
		background: url("../img/decor/bg-veg.jpg")no-repeat;
		background-size: cover;
	}

	&--diet{
		background: url("../img/decor/bg-diet.jpg")no-repeat;
		background-size: cover;
	}
}

.menu-acco__trigger-text {
	font-size: 40px;
	color: #fff;
	font-family: 'gagalin';
	transform: rotate(-90deg);
	text-align: center;
	white-space: nowrap;
	width: 650px;
	height: 80px;
	position: absolute;
	top: 50%;
	left: -275px;
	margin-top: -40px;
	cursor: pointer;

	&:hover{
		color: #f9b43b;
	}
}

.menu-acco__content {
	height: 100%;
	float: left;
	background: rgba(47, 50, 52, 0.93);
	width: 0;
	overflow: hidden;
}

.menu-acco__text {
	font-family: 'ub-light';
	font-size: 14px;
	color: #fff;
	padding: 60px 30px;
	width: 550px;
	line-height: 24px;
}