.nav-menu{
	width: 100%;
	display: inline-block;
	vertical-align: middle;
	padding-top: 10px;
}

.nav__list{
	width: 100%;
}

.nav__item{
	white-space: nowrap;
	margin-right: 15px;
	display: block;
	float: left;

	&:last-child{
		margin-right: 0;

		&:after{
			display: none;
		}
	}

	&:after{
		content: "";
		display: inline-block;
		vertical-align: middle;
		width: 4px;
		height: 4px;
		border-radius: 50%;
		background: white;
		margin-left: 15px;
	}
}

.nav__link {
	vertical-align: middle;
	font-size: 13px;
	text-transform: uppercase;
	color: white;
	text-decoration: none;
	font-family: 'ub-medium';

	&:hover{
		text-decoration: underline;
	}

	&--order{
		background-color: #e45028;
		padding: 10px 15px;
		border-radius: 5px;
	}
}