.nav{
	padding-top: rem(10px);
	display: flex;
	margin-left: auto;
}

.nav__list{
	width: 100%;
	display: flex;

	@include tablets{
		display: none;
	}
}

.nav__item{
	white-space: nowrap;
	margin-right: rem(15px);

	&:last-child{
		// margin-right: 0;

		&:after{
			display: none;
		}
	}

	&:after{
		content: "";
		display: inline-block;
		vertical-align: middle;
		width: 4px;
		height: 4px;
		border-radius: 50%;
		background: white;
		margin-left: rem(15px);
	}
}

.nav__link {
	font-size: rem(13px);
	text-transform: uppercase;
	color: white;
	text-decoration: none;
	font-family: 'ub-medium';

	&:hover{
		text-decoration: underline;
	}
}