.section-main {
	background: url("../img/decor/bg-main.jpg") center center no-repeat;
	background-size: cover;

	&__left, &__right{
		float: left;
		width: 50%;
	}

	&__right{
		padding-top: 150px;
	}

	&__descr{
		font-size: 65px;
		color: #fff;
		font-family: 'lifehack';
		text-transform: lowercase;
	}
}


