.section {
	min-height: 650px;
	height: 100vh;
	min-width: 940px;
	position: relative;

	&__title{
		color: #f9b43b;
		font-size: 72px;
		font-family: 'gagalin';

		&--black{
			color: #2f3234;
		}

		&--small{
			font-size: 65px;
			color: #fff;
			font-family: 'lifehack';
			text-transform: lowercase;
		}
	}
}