.section {
	height: 100vh;
	min-height: 650px;
	// max-width: 940px;
	position: relative;
	display: flex;
	align-items: center;

	&__title{
		color: #f9b43b;
		font-size: rem(72px);
		font-family: 'gagalin';

		&--black{
			color: #2f3234;
		}

		&--small{
			font-size: rem(65px);
			color: #fff;
			font-family: 'lifehack';
			text-transform: lowercase;
		}

		&--white{
			color: #fff;
		}

		&--center{
			text-align: center;
		}
	}
}