.team {
	background: url("../img/decor/bg-team.jpg") center center no-repeat;
	background-size: cover;
	position: relative;

	&__section{
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		left: 50%;
		background: rgba(47, 50, 52, 0.9);
		padding-top: 115px;
		padding-left: 100px;
		padding-right: 100px;
	}
}

.team-acco{

	&__item{
		margin-bottom: 35px;
	}

	&__trigger{
		color: #fff;
		font-size: 14px;
		font-family: 'gagalin';
		text-decoration: none;
		position: relative;
		display: block;
	}

	&__content{
		padding-top: 20px;
		height: 0;
		overflow: hidden;
	}

	&__pic{
		float: left;
		text-align: center;
		width: 30%;
	}

	&__text{
		float: left;
		width: 70%;
	}

	&__title{
		font-family: 'ub-bold';
		font-size: 14px;
		color: #fff;
		margin-bottom: 15px;
	}

	&__text-content{
		font-family: 'ub-light';
		color: #fff;
		font-size: 14px;
		line-height: 24px;
	}
}

.team-acco__item.active .team-acco__content{
	height: 100%;
}

.team-acco__item.active .team-acco__trigger {
	color: #f9b43b;
}

.team-acco__item.active .team-acco__trigger:before {
	transform: rotate(-180deg);
}

.team-acco__trigger:before,
.team-acco__trigger:after {
	content: "";
	display: block;
	position: absolute;
	left: -18px;
	top: 5px;
	width: 0;
	height: 0;
}

.team-acco__trigger:before {
	border-top: 7px solid #f9b43b;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 0px solid transparent;
	transform: rotate(0deg);
	transition: .3s;
}

.team-acco__trigger:after {
	display: none;
	border-bottom: 7px solid #f9b43b;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 0px solid transparent;
}